.forecast-container {
  padding-bottom: calc(5rem + 0.5vw);
}
.page-name {
  display: grid;
  justify-items: center;
  padding: 5rem 0rem;
  font-size: calc(2.5rem + 1vw);
  color: $dark-blue;
}
.weather-search-wrapper {
  display: flex;
  justify-content: center;
  height: 3.5rem;
}
%search {
  outline: none;
  padding: 0.7rem;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: 0.5s ease-in-out;
}
.weather-search-wrapper input {
  @extend %search;
  width: calc(15rem + 2.5vw);
  border: 1px solid $blue;
  margin-right: 2rem;
  background-color: $light-gray;
  &:focus {
    border-bottom: 2px solid $dark-blue;
  }
}
.search-button {
  @extend %search;
  width: calc(9rem + 2.5vw);
  background-color: $blue;
  color: $light-gray;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $dark-blue;
  }
}
.city-text {
  display: grid;
  justify-items: center;
  padding-top: 5rem;
  font-size: calc(2rem + 0.5vw);
  color: $dark-blue;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: calc(3rem + 3.5vw);
  padding: calc(3rem + 3.5vw);
  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
.box {
  position: relative;
  background: $light-gray;
  display: grid;
  gap: 2rem;
  justify-items: center;
  border: 1px solid $light-gray;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: calc(5rem + 0.5vw) 1rem;
}
.box:before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  transform: skew(2deg, 2deg);
  background: linear-gradient(315deg, $blue, $light-blue);
}
.content {
  position: relative;
}
.content-index {
  position: absolute;
  top: 0px;
  left: 20px;
  margin: 0;
  padding: 0;
  font-size: calc(3rem + 0.5vw);
  color: $dark-blue;
  transition: 0.5s;
}
.content-left-col {
  display: grid;
  gap: 1rem;
  justify-items: center;
}
.content-description {
  text-align: center;
  font-size: calc(1.4rem + 0.5vw);
}
.content-data {
  font-size: calc(1.2rem + 0.3vw);
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 1rem;
}
.weather-icons {
  display: grid;
  align-self: center;
  font-size: 1.5rem;
}
.calendar-icon {
  color: $dark-blue;
}
.wind-icon,
.temperature-low {
  color: $light-blue;
}
.temperature-avg {
  color: #ffb833;
}
.temperature-high {
  color: #cc0000;
}
.tint-icon {
  color: $blue;
}
.content-right-col {
  display: grid;
  gap: 1rem;
}
