.landing-wrapper {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  filter: brightness(90%);
}

.landing-page-data {
  padding: 0 30rem;
  display: grid;
  color: white;
  align-content: center;
  height: 70vh;
  gap: 5rem;
  @media (max-width: 1000px) {
    padding: 0rem 5rem;
  }
}
.landing-title {
  font-size: 6rem;
  @media (min-width: 660px) and (max-width: 1260px) {
    font-size: 5rem;
  }
  @media (max-width: 660px) {
    font-size: 3rem;
  }
}
.landing-text {
  font-size: 2.5rem;
  @media (min-width: 660px) and (max-width: 1260px) {
    font-size: 2rem;
  }
  @media (max-width: 660px) {
    font-size: 1.5rem;
  }
}
.landing-btn {
  width: 20rem;
  background-color: #5068a9;
  color: white;
  border: none;
  outline: none;
  padding: 2rem;
  border-radius: 4px;
  font-size: 1.7rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #324e7b;
  }
  @media (max-width: 660px) {
    font-size: 1.4em;
    width: 15rem;
    padding: 1rem;
  }
}
